USE [master]
GO
-- Automatically creates the database files in each developer's default SQL Server directory
CREATE DATABASE [Group3Database]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Group3Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Group3Database]
GO
/****** Object:  Table [dbo].[Complaint]    Script Date: 10/07/2026 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaint](
	[FbkID] [char](9) NOT NULL,
	[Category] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Complaint] PRIMARY KEY CLUSTERED 
(
	[FbkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuisine]    Script Date: 10/07/2026 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuisine](
	[CuisineID] [char](9) NOT NULL,
	[CuisineDesc] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Cuisine] PRIMARY KEY CLUSTERED 
(
	[CuisineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/07/2026 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [char](9) NOT NULL,
	[CustNRIC] [varchar](9) NOT NULL,
	[CustName] [varchar](50) NOT NULL,
	[CustContactNo] [varchar](15) NOT NULL,
	[CustEmail] [varchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustOrder]    Script Date: 10/07/2026 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustOrder](
	[OrderID] [char](9) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[PmtType] [varchar](20) NOT NULL,
	[CustomerID] [char](9) NOT NULL,
 CONSTRAINT [PK_CustOrder] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 10/07/2026 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FbkID] [char](9) NOT NULL,
	[FbkComment] [varchar](200) NULL,
	[FbkDateTime] [datetime] NOT NULL,
	[FbkRating] [tinyint] NOT NULL,
	[CustomerID] [char](9) NOT NULL,
	[StallID] [char](10) NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[FbkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodStall]    Script Date: 10/07/2026 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodStall](
	[StallID] [char](10) NOT NULL,
	[StallUnitNo] [varchar](20) NOT NULL,
	[StallName] [varchar](100) NOT NULL,
	[StallDesc] [varchar](255) NULL,
	[HawkerCentreID] [char](10) NOT NULL,
 CONSTRAINT [PK_FoodStall] PRIMARY KEY CLUSTERED 
(
	[StallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HawkerCentre]    Script Date: 10/07/2026 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HawkerCentre](
	[HawkerCentreID] [char](10) NOT NULL,
	[HCName] [varchar](100) NOT NULL,
	[HCAddress] [varchar](200) NOT NULL,
	[OperatorID] [char](9) NOT NULL,
 CONSTRAINT [PK_HawkerCentre] PRIMARY KEY CLUSTERED 
(
	[HawkerCentreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inspection]    Script Date: 10/07/2026 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inspection](
	[InspectionID] [char](10) NOT NULL,
	[InspectionDate] [date] NOT NULL,
	[HygieneGrade] [char](1) NOT NULL,
	[GradeExpiry] [date] NOT NULL,
	[OfficerID] [char](10) NOT NULL,
	[StallID] [char](10) NOT NULL,
 CONSTRAINT [PK_Inspection] PRIMARY KEY CLUSTERED 
(
	[InspectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InspectionRemark]    Script Date: 10/07/2026 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InspectionRemark](
	[InspectionID] [char](10) NOT NULL,
	[InspectionRemark] [varchar](255) NOT NULL,
 CONSTRAINT [PK_InspectionRemark] PRIMARY KEY CLUSTERED 
(
	[InspectionID] ASC,
	[InspectionRemark] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Likes]    Script Date: 10/07/2026 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[CustomerID] [char](9) NOT NULL,
	[StallID] [char](10) NOT NULL,
	[ItemCode] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Likes] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[StallID] ASC,
	[ItemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItem]    Script Date: 10/07/2026 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItem](
	[StallID] [char](10) NOT NULL,
	[ItemCode] [varchar](20) NOT NULL,
	[ItemDesc] [varchar](100) NOT NULL,
	[ItemPrice] [decimal](6, 2) NOT NULL,
	[ItemCategory] [varchar](30) NOT NULL,
 CONSTRAINT [PK_MenuItem] PRIMARY KEY CLUSTERED 
(
	[StallID] ASC,
	[ItemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItemCuisine]    Script Date: 10/07/2026 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItemCuisine](
	[CuisineID] [char](9) NOT NULL,
	[StallID] [char](10) NOT NULL,
	[ItemCode] [varchar](20) NOT NULL,
 CONSTRAINT [PK_MenuItemCuisine] PRIMARY KEY CLUSTERED 
(
	[CuisineID] ASC,
	[StallID] ASC,
	[ItemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEA_Officer]    Script Date: 10/07/2026 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEA_Officer](
	[OfficerID] [char](10) NOT NULL,
	[OfficerName] [varchar](100) NOT NULL,
	[OfficerContactNo] [char](8) NOT NULL,
 CONSTRAINT [PK_NEA_Officer] PRIMARY KEY CLUSTERED 
(
	[OfficerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operator]    Script Date: 10/07/2026 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operator](
	[OperatorID] [char](9) NOT NULL,
	[OperatorName] [varchar](100) NOT NULL,
	[ContactPerson] [varchar](80) NOT NULL,
 CONSTRAINT [PK_Operator] PRIMARY KEY CLUSTERED 
(
	[OperatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 10/07/2026 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderID] [char](9) NOT NULL,
	[OrderItemNo] [int] NOT NULL,
	[StallID] [char](10) NOT NULL,
	[ItemCode] [varchar](20) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](6, 2) NOT NULL,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[OrderItemNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 10/07/2026 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[PromoID] [char](10) NOT NULL,
	[PromoDesc] [varchar](255) NOT NULL,
	[PromoStartDate] [date] NOT NULL,
	[PromoEndDate] [date] NOT NULL,
	[StallID] [char](10) NOT NULL,
 CONSTRAINT [PK_Promotion] PRIMARY KEY CLUSTERED 
(
	[PromoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalAgreement]    Script Date: 10/07/2026 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalAgreement](
	[AgreementID] [char](10) NOT NULL,
	[AgrStartDate] [date] NOT NULL,
	[AgrEndDate] [date] NOT NULL,
	[AgrTermCondition] [text] NOT NULL,
	[RentalPrice] [decimal](10, 2) NOT NULL,
	[OwnerID] [char](10) NOT NULL,
	[StallID] [char](10) NOT NULL,
 CONSTRAINT [PK_RentalAgreement] PRIMARY KEY CLUSTERED 
(
	[AgreementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StallOwner]    Script Date: 10/07/2026 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StallOwner](
	[OwnerID] [char](10) NOT NULL,
	[OwnerName] [varchar](50) NOT NULL,
	[OwnerNRIC] [char](9) NOT NULL,
	[OwnerContactNo] [char](10) NOT NULL,
 CONSTRAINT [PK_StallOwner] PRIMARY KEY CLUSTERED 
(
	[OwnerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Complaint] ([FbkID], [Category]) VALUES (N'FBK000001', N'General')
INSERT [dbo].[Complaint] ([FbkID], [Category]) VALUES (N'FBK000002', N'Service')
INSERT [dbo].[Complaint] ([FbkID], [Category]) VALUES (N'FBK000003', N'Portion Size')
GO
INSERT [dbo].[Cuisine] ([CuisineID], [CuisineDesc]) VALUES (N'CUI000001', N'Malay')
INSERT [dbo].[Cuisine] ([CuisineID], [CuisineDesc]) VALUES (N'CUI000002', N'Chinese')
INSERT [dbo].[Cuisine] ([CuisineID], [CuisineDesc]) VALUES (N'CUI000003', N'Indian')
GO
INSERT [dbo].[Customer] ([CustomerID], [CustNRIC], [CustName], [CustContactNo], [CustEmail]) VALUES (N'CUS000001', N'S1234567A', N'Ali', N'91234567', N'ali@gmail.com')
INSERT [dbo].[Customer] ([CustomerID], [CustNRIC], [CustName], [CustContactNo], [CustEmail]) VALUES (N'CUS000002', N'S1234568B', N'Ben', N'92345678', N'ben@gmail.com')
INSERT [dbo].[Customer] ([CustomerID], [CustNRIC], [CustName], [CustContactNo], [CustEmail]) VALUES (N'CUS000003', N'S1234569C', N'Chloe', N'93456789', N'chloe@gmail.com')
GO
INSERT [dbo].[CustOrder] ([OrderID], [OrderDate], [PmtType], [CustomerID]) VALUES (N'ORD000001', CAST(N'2024-02-01' AS Date), N'Cash', N'CUS000001')
INSERT [dbo].[CustOrder] ([OrderID], [OrderDate], [PmtType], [CustomerID]) VALUES (N'ORD000002', CAST(N'2024-02-01' AS Date), N'PayNow', N'CUS000002')
INSERT [dbo].[CustOrder] ([OrderID], [OrderDate], [PmtType], [CustomerID]) VALUES (N'ORD000003', CAST(N'2024-02-02' AS Date), N'Card', N'CUS000003')
GO
INSERT [dbo].[Feedback] ([FbkID], [FbkComment], [FbkDateTime], [FbkRating], [CustomerID], [StallID]) VALUES (N'FBK000001', N'Food was delicious', CAST(N'2024-02-01T12:30:00.000' AS DateTime), 5, N'CUS000001', N'STL0000001')
INSERT [dbo].[Feedback] ([FbkID], [FbkComment], [FbkDateTime], [FbkRating], [CustomerID], [StallID]) VALUES (N'FBK000002', N'Service was fast', CAST(N'2024-02-01T13:00:00.000' AS DateTime), 4, N'CUS000002', N'STL0000002')
INSERT [dbo].[Feedback] ([FbkID], [FbkComment], [FbkDateTime], [FbkRating], [CustomerID], [StallID]) VALUES (N'FBK000003', N'Portion too small', CAST(N'2024-02-02T12:45:00.000' AS DateTime), 3, N'CUS000003', N'STL0000003')
GO
INSERT [dbo].[FoodStall] ([StallID], [StallUnitNo], [StallName], [StallDesc], [HawkerCentreID]) VALUES (N'STL0000001', N'#01-01', N'Ali Nasi Lemak', N'Traditional Malay food', N'HC00000001')
INSERT [dbo].[FoodStall] ([StallID], [StallUnitNo], [StallName], [StallDesc], [HawkerCentreID]) VALUES (N'STL0000002', N'#01-02', N'Ben Chicken Rice', N'Hainanese chicken rice', N'HC00000001')
INSERT [dbo].[FoodStall] ([StallID], [StallUnitNo], [StallName], [StallDesc], [HawkerCentreID]) VALUES (N'STL0000003', N'#02-01', N'Chloe Western', N'Grilled western food', N'HC00000002')
GO
INSERT [dbo].[HawkerCentre] ([HawkerCentreID], [HCName], [HCAddress], [OperatorID]) VALUES (N'HC00000001', N'Maxwell Food Centre', N'1 Kadayanallur St', N'OPR000001')
INSERT [dbo].[HawkerCentre] ([HawkerCentreID], [HCName], [HCAddress], [OperatorID]) VALUES (N'HC00000002', N'Chinatown Complex', N'335 Smith St', N'OPR000002')
INSERT [dbo].[HawkerCentre] ([HawkerCentreID], [HCName], [HCAddress], [OperatorID]) VALUES (N'HC00000003', N'Old Airport Road', N'51 Old Airport Rd', N'OPR000003')
GO
INSERT [dbo].[Inspection] ([InspectionID], [InspectionDate], [HygieneGrade], [GradeExpiry], [OfficerID], [StallID]) VALUES (N'INSP000001', CAST(N'2024-01-10' AS Date), N'A', CAST(N'2025-01-10' AS Date), N'OFF000001 ', N'STL0000001')
INSERT [dbo].[Inspection] ([InspectionID], [InspectionDate], [HygieneGrade], [GradeExpiry], [OfficerID], [StallID]) VALUES (N'INSP000002', CAST(N'2024-01-12' AS Date), N'B', CAST(N'2025-01-12' AS Date), N'OFF000002 ', N'STL0000002')
INSERT [dbo].[Inspection] ([InspectionID], [InspectionDate], [HygieneGrade], [GradeExpiry], [OfficerID], [StallID]) VALUES (N'INSP000003', CAST(N'2024-01-15' AS Date), N'A', CAST(N'2025-01-15' AS Date), N'OFF000003 ', N'STL0000003')
GO
INSERT [dbo].[InspectionRemark] ([InspectionID], [InspectionRemark]) VALUES (N'INSP000001', N'Clean kitchen')
INSERT [dbo].[InspectionRemark] ([InspectionID], [InspectionRemark]) VALUES (N'INSP000002', N'Minor oil stains')
INSERT [dbo].[InspectionRemark] ([InspectionID], [InspectionRemark]) VALUES (N'INSP000003', N'Excellent hygiene')
GO
INSERT [dbo].[Likes] ([CustomerID], [StallID], [ItemCode]) VALUES (N'CUS000001', N'STL0000001', N'ITM01')
INSERT [dbo].[Likes] ([CustomerID], [StallID], [ItemCode]) VALUES (N'CUS000002', N'STL0000002', N'ITM02')
INSERT [dbo].[Likes] ([CustomerID], [StallID], [ItemCode]) VALUES (N'CUS000003', N'STL0000003', N'ITM03')
GO
INSERT [dbo].[MenuItem] ([StallID], [ItemCode], [ItemDesc], [ItemPrice], [ItemCategory]) VALUES (N'STL0000001', N'ITM01', N'Nasi Lemak', CAST(4.50 AS Decimal(6, 2)), N'Main')
INSERT [dbo].[MenuItem] ([StallID], [ItemCode], [ItemDesc], [ItemPrice], [ItemCategory]) VALUES (N'STL0000002', N'ITM02', N'Chicken Rice', CAST(4.00 AS Decimal(6, 2)), N'Main')
INSERT [dbo].[MenuItem] ([StallID], [ItemCode], [ItemDesc], [ItemPrice], [ItemCategory]) VALUES (N'STL0000003', N'ITM03', N'Grilled Chicken', CAST(6.50 AS Decimal(6, 2)), N'Main')
GO
INSERT [dbo].[MenuItemCuisine] ([CuisineID], [StallID], [ItemCode]) VALUES (N'CUI000001', N'STL0000001', N'ITM01')
INSERT [dbo].[MenuItemCuisine] ([CuisineID], [StallID], [ItemCode]) VALUES (N'CUI000001', N'STL0000012', N'ITM12')
INSERT [dbo].[MenuItemCuisine] ([CuisineID], [StallID], [ItemCode]) VALUES (N'CUI000002', N'STL0000002', N'ITM02')
GO
INSERT [dbo].[NEA_Officer] ([OfficerID], [OfficerName], [OfficerContactNo]) VALUES (N'OFF000001 ', N'Tan Wei Ming', N'81234567')
INSERT [dbo].[NEA_Officer] ([OfficerID], [OfficerName], [OfficerContactNo]) VALUES (N'OFF000002 ', N'Lim Jia Hui', N'82345678')
INSERT [dbo].[NEA_Officer] ([OfficerID], [OfficerName], [OfficerContactNo]) VALUES (N'OFF000003 ', N'Ong Kai Jun', N'83456789')
GO
INSERT [dbo].[Operator] ([OperatorID], [OperatorName], [ContactPerson]) VALUES (N'OPR000001', N'Kopitiam Group', N'Mr Tan')
INSERT [dbo].[Operator] ([OperatorID], [OperatorName], [ContactPerson]) VALUES (N'OPR000002', N'Food Republic', N'Ms Lim')
INSERT [dbo].[Operator] ([OperatorID], [OperatorName], [ContactPerson]) VALUES (N'OPR000003', N'NTUC Foodfare', N'Mr Ong')
GO
INSERT [dbo].[OrderItem] ([OrderID], [OrderItemNo], [StallID], [ItemCode], [Quantity], [UnitPrice]) VALUES (N'ORD000001', 1, N'STL0000001', N'ITM01', 1, CAST(4.50 AS Decimal(6, 2)))
INSERT [dbo].[OrderItem] ([OrderID], [OrderItemNo], [StallID], [ItemCode], [Quantity], [UnitPrice]) VALUES (N'ORD000002', 1, N'STL0000002', N'ITM02', 1, CAST(4.00 AS Decimal(6, 2)))
INSERT [dbo].[OrderItem] ([OrderID], [OrderItemNo], [StallID], [ItemCode], [Quantity], [UnitPrice]) VALUES (N'ORD000003', 1, N'STL0000003', N'ITM03', 2, CAST(6.50 AS Decimal(6, 2)))
GO
INSERT [dbo].[Promotion] ([PromoID], [PromoDesc], [PromoStartDate], [PromoEndDate], [StallID]) VALUES (N'PRO000001 ', N'10% off Nasi Lemak', CAST(N'2024-02-01' AS Date), CAST(N'2024-02-28' AS Date), N'STL0000001')
INSERT [dbo].[Promotion] ([PromoID], [PromoDesc], [PromoStartDate], [PromoEndDate], [StallID]) VALUES (N'PRO000002 ', N'Free Drink with Chicken Rice', CAST(N'2024-02-01' AS Date), CAST(N'2024-02-28' AS Date), N'STL0000002')
INSERT [dbo].[Promotion] ([PromoID], [PromoDesc], [PromoStartDate], [PromoEndDate], [StallID]) VALUES (N'PRO000003 ', N'15% off Western Set', CAST(N'2024-02-05' AS Date), CAST(N'2024-03-05' AS Date), N'STL0000003')
GO
INSERT [dbo].[RentalAgreement] ([AgreementID], [AgrStartDate], [AgrEndDate], [AgrTermCondition], [RentalPrice], [OwnerID], [StallID]) VALUES (N'AGR000001 ', CAST(N'2023-01-01' AS Date), CAST(N'2025-12-31' AS Date), N'Standard rental terms', CAST(2500.00 AS Decimal(10, 2)), N'OWN000001 ', N'STL0000001')
INSERT [dbo].[RentalAgreement] ([AgreementID], [AgrStartDate], [AgrEndDate], [AgrTermCondition], [RentalPrice], [OwnerID], [StallID]) VALUES (N'AGR000002 ', CAST(N'2023-01-01' AS Date), CAST(N'2025-12-31' AS Date), N'Standard rental terms', CAST(2400.00 AS Decimal(10, 2)), N'OWN000002 ', N'STL0000002')
INSERT [dbo].[RentalAgreement] ([AgreementID], [AgrStartDate], [AgrEndDate], [AgrTermCondition], [RentalPrice], [OwnerID], [StallID]) VALUES (N'AGR000003 ', CAST(N'2023-01-01' AS Date), CAST(N'2025-12-31' AS Date), N'Standard rental terms', CAST(2600.00 AS Decimal(10, 2)), N'OWN000003 ', N'STL0000003')
GO
INSERT [dbo].[StallOwner] ([OwnerID], [OwnerName], [OwnerNRIC], [OwnerContactNo]) VALUES (N'OWN000001 ', N'Ali Hassan', N'S7654321A', N'9123456789')
INSERT [dbo].[StallOwner] ([OwnerID], [OwnerName], [OwnerNRIC], [OwnerContactNo]) VALUES (N'OWN000002 ', N'Ben Tan', N'S7654322B', N'9123456790')
INSERT [dbo].[StallOwner] ([OwnerID], [OwnerName], [OwnerNRIC], [OwnerContactNo]) VALUES (N'OWN000003 ', N'Chloe Lim', N'S7654323C', N'9123456791')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__8B4DC336EAC1661B]    Script Date: 10/07/2026 12:30:06 ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[CustNRIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NEA_Offi__F97AE99E12C53664]    Script Date: 10/07/2026 12:30:06 ******/
ALTER TABLE [dbo].[NEA_Officer] ADD UNIQUE NONCLUSTERED 
(
	[OfficerContactNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__StallOwn__95BA6E1A8B42F3C8]    Script Date: 10/07/2026 12:30:06 ******/
ALTER TABLE [dbo].[StallOwner] ADD UNIQUE NONCLUSTERED 
(
	[OwnerNRIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Complaint]  WITH CHECK ADD  CONSTRAINT [FK_Complaint_Feedback] FOREIGN KEY([FbkID])
REFERENCES [dbo].[Feedback] ([FbkID])
GO
ALTER TABLE [dbo].[Complaint] CHECK CONSTRAINT [FK_Complaint_Feedback]
GO
ALTER TABLE [dbo].[CustOrder]  WITH CHECK ADD  CONSTRAINT [FK_CustOrder_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[CustOrder] CHECK CONSTRAINT [FK_CustOrder_Customer]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Customer]
GO
ALTER TABLE [dbo].[FoodStall]  WITH CHECK ADD  CONSTRAINT [FK_FoodStall_HawkerCentre] FOREIGN KEY([HawkerCentreID])
REFERENCES [dbo].[HawkerCentre] ([HawkerCentreID])
GO
ALTER TABLE [dbo].[FoodStall] CHECK CONSTRAINT [FK_FoodStall_HawkerCentre]
GO
ALTER TABLE [dbo].[HawkerCentre]  WITH CHECK ADD  CONSTRAINT [FK_HawkerCentre_Operator] FOREIGN KEY([OperatorID])
REFERENCES [dbo].[Operator] ([OperatorID])
GO
ALTER TABLE [dbo].[HawkerCentre] CHECK CONSTRAINT [FK_HawkerCentre_Operator]
GO
ALTER TABLE [dbo].[Inspection]  WITH CHECK ADD  CONSTRAINT [FK_Inspection_Officer] FOREIGN KEY([OfficerID])
REFERENCES [dbo].[NEA_Officer] ([OfficerID])
GO
ALTER TABLE [dbo].[Inspection] CHECK CONSTRAINT [FK_Inspection_Officer]
GO
ALTER TABLE [dbo].[Inspection]  WITH CHECK ADD  CONSTRAINT [FK_Inspection_Stall] FOREIGN KEY([StallID])
REFERENCES [dbo].[FoodStall] ([StallID])
GO
ALTER TABLE [dbo].[Inspection] CHECK CONSTRAINT [FK_Inspection_Stall]
GO
ALTER TABLE [dbo].[InspectionRemark]  WITH CHECK ADD  CONSTRAINT [FK_InspectionRemark_Inspection] FOREIGN KEY([InspectionID])
REFERENCES [dbo].[Inspection] ([InspectionID])
GO
ALTER TABLE [dbo].[InspectionRemark] CHECK CONSTRAINT [FK_InspectionRemark_Inspection]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Likes_Customer]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_MenuItem] FOREIGN KEY([StallID], [ItemCode])
REFERENCES [dbo].[MenuItem] ([StallID], [ItemCode])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Likes_MenuItem]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_Stall] FOREIGN KEY([StallID])
REFERENCES [dbo].[FoodStall] ([StallID])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Likes_Stall]
GO
ALTER TABLE [dbo].[MenuItem]  WITH CHECK ADD  CONSTRAINT [FK_MenuItem_FoodStall] FOREIGN KEY([StallID])
REFERENCES [dbo].[FoodStall] ([StallID])
GO
ALTER TABLE [dbo].[MenuItem] CHECK CONSTRAINT [FK_MenuItem_FoodStall]
GO
ALTER TABLE [dbo].[MenuItemCuisine]  WITH CHECK ADD  CONSTRAINT [FK_MenuItemCuisine_Cuisine] FOREIGN KEY([CuisineID])
REFERENCES [dbo].[Cuisine] ([CuisineID])
GO
ALTER TABLE [dbo].[MenuItemCuisine] CHECK CONSTRAINT [FK_MenuItemCuisine_Cuisine]
GO
ALTER TABLE [dbo].[MenuItemCuisine]  WITH CHECK ADD  CONSTRAINT [FK_MenuItemCuisine_MenuItem] FOREIGN KEY([StallID], [ItemCode])
REFERENCES [dbo].[MenuItem] ([StallID], [ItemCode])
GO
ALTER TABLE [dbo].[MenuItemCuisine] CHECK CONSTRAINT [FK_MenuItemCuisine_MenuItem]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_MenuItem] FOREIGN KEY([StallID], [ItemCode])
REFERENCES [dbo].[MenuItem] ([StallID], [ItemCode])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_MenuItem]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[CustOrder] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Order]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [FK_Promotion_Stall] FOREIGN KEY([StallID])
REFERENCES [dbo].[FoodStall] ([StallID])
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [FK_Promotion_Stall]
GO
ALTER TABLE [dbo].[RentalAgreement]  WITH CHECK ADD  CONSTRAINT [FK_Rental_Owner] FOREIGN KEY([OwnerID])
REFERENCES [dbo].[StallOwner] ([OwnerID])
GO
ALTER TABLE [dbo].[RentalAgreement] CHECK CONSTRAINT [FK_Rental_Owner]
GO
ALTER TABLE [dbo].[RentalAgreement]  WITH CHECK ADD  CONSTRAINT [FK_Rental_Stall] FOREIGN KEY([StallID])
REFERENCES [dbo].[FoodStall] ([StallID])
GO
ALTER TABLE [dbo].[RentalAgreement] CHECK CONSTRAINT [FK_Rental_Stall]
GO
ALTER TABLE [dbo].[Inspection]  WITH CHECK ADD CHECK  (([HygieneGrade]='D' OR [HygieneGrade]='C' OR [HygieneGrade]='B' OR [HygieneGrade]='A'))
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [CHK_PromoDates] CHECK  (([PromoEndDate]>[PromoStartDate]))
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [CHK_PromoDates]
GO
ALTER TABLE [dbo].[RentalAgreement]  WITH CHECK ADD  CONSTRAINT [CHK_RentalPrice] CHECK  (([RentalPrice]>(0)))
GO
ALTER TABLE [dbo].[RentalAgreement] CHECK CONSTRAINT [CHK_RentalPrice]
GO
USE [master]
GO
